main {
  min-width: 320px;
  max-width: 800px;
  padding: 50px;
  margin: 0 auto;
  background: #fff;
}

section {
  display: none;
  padding: 20px 0 0;
}

label {
  display: inline-block;
  text-align: center;
  color: #bbb;
  padding: 15px 25px;
}
label:hover {
  color: #888;
  cursor: pointer;
  background-color: lightgray;
}

input {
  display: none;
}
input:checked + label {
  color: #555;
  border-bottom: 2px solid lightgray;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2 {
  display: block;
  height: 70px;
}

iframe[seamless] {
  border: none;
}

.iconButtonContainer {
  display: flex;
  flex-direction: row;
}

.iconButton {
  height: 30px;
  width: 30px;
  background-color: #fff;
  border-style: none;
}
.iconButton i {
  color: #1d9bf0;
  font-size: 20px;
}
.iconButton:enabled:hover {
  background-color: lightgray;
  border-radius: 20px;
  text-align: center;
}
.iconButton:disabled i {
  color: gray;
}

.tweetButton {
  border: none;
  width: 20%;
  text-align: center;
  padding: 10px 20px;
  border-radius: 25px;
  background-color: #1d9bf0;
  color: #fff;
  float: right;
  margin-left: auto;
}
.tweetButton:disabled {
  background-color: lightblue;
}

.tabBar {
  width: 250px;
}
